<link rel="stylesheet" href="components/landing-page/landing-page.css">
<div class="template-container">
   <h1>Time Card App</h1>
    <p>Finally, a time management application that your employees can use while out in the field.</p>
    <p>Timecard submission, editing, and processing will be so much easier with our time card application.</p>
    
    <img class="margin-10 md-img" src="../../assets/images/Photo0120.jpg">
    
    <p>Track and edit time for each employees. Easily view time and materials for each job site by employee or as a company. </p>
  
</div>