.login-container {
	height: 100%;
	width: 50%;
	margin: auto;
	border-radius: 10px;
	border: solid #cccccc 1px;
	
	h1 {

	}

	.input-div {
		margin: 20px 10px;
	}

	.login-input {
		height: 30px;
		width: 90%;
		border-radius: 4px;
	}

	h1 {
		margin-left: 10px;
	}

	.login-button {
	  margin-left: 10px;
	  margin-right: 30px;
	  height: 30px;
	  width: 86.5%;
	  background-color: #5bc0de;
	  border: solid 1px #428bca;
	  border-radius: 4px;
	  color: #FFFFFF;
	}


}
