.page-container {
	overflow: auto;
	height: 700px;
}

.login-container {
	background-color: white;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border: solid #cccccc 1px;
	padding-top: 40px;
	

	.input-div {

	}

	.login-input {
		color: #747c8b;
		width: 90%;
		margin: 10px 0 10px 20px;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom-width: 1px;
		border-bottom-color: #747c8b;
	}

	.login-button {
	  	border: none;
		margin: 10px 0 30px 20px;
		height: 45px;
	  	background-color: #0073e6;
	  	color: #FFFFFF;
	  	width: 90%;
	}

}

				/*SMARTPHONE SIZE SCREENS*/
@media only screen and (min-width: 15em) and (max-width: 30em) {

	.login-container {
		width: 90%;
	}

	.login-input {
		height: 20px;
	}

	.login-button {
		width: 90%;

	}

}

				/*TABLET SIZE SCREENS*/
@media only screen and (min-width: 30em) and (max-width: 60em) {
}