.login-container {
	height: 300px;
	width: 50%;
	margin: auto;
	border-radius: 10px;
	border: solid tan;
	
	h1 {

	}

	.input-div {
		margin: 20px 10px;
	}

	.login-input {
		height: 30px;
		width: 90%;
		border-radius: 4px;
	}

	h1 {
	margin-left: 10px;
	}


}