<link rel="stylesheet" href="components/login/login.css">

<div class="login-container">
	<h1>Login</h1>
	<hr>
	<div class="input-div">
		<input type="text" class="login-input" placeholder="Enter Your Username" />
	</div>
	<div class="input-div">
		<input type="password" class="login-input" placeholder="Enter Your Password" />
	</div>
	<div class="button-div">
		<button class="rw-button">Login</button>
	</div>
<br>
<button ui-sref="admin">admin</button>
<button ui-sref="employee">employee</button>
</div>