<h1>{{oldJobSite.name}}</h1>


<h3>The Dates</h3>

<div ng-repeat="oldDTC in oldDTCs track by $index">

    <hr />    
    
    <a href="" ng-click="showTC($index)" ng-hide="showTheTC[$index]">{{oldDTC.theDate}}</a>
    <a href="" ng-click="hideTC($index)" ng-show="showTheTC[$index]">{{oldDTC.theDate}}</a>

        <div ng-show="showTheTC[$index]">

            <label for="materials">Materials Used: </label><p name="materials">{{oldDTC.materials_used}}</p>
            <label for="notes">Notes: </label><p name="notes">{{oldDTC.notes}}</p>

            <table st-table="students" class="table table-striped">
                <thead>
                    <tr>
                        <td>Employee Name</td>
                        <td>Daily Time</td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="employees in oldDTC.employees_worked track by $index">
                        <td>{{employees.employeeName}}</td>
                        <td>{{employees.hours_worked}}</td>
                    </tr>
                </tbody>
            </table>
            <hr />



</div>
