 <link rel="stylesheet" href="components/employee-job-site-list/employee-job-site-list.css">

 <div class="employee-job-site-list-div">
    <h1>Job Site List</h1>
    <input name="jobSiteFilter" type="text" placeholder="Filter Job Names" ng-model="filterJob" autofocus>

    <div ng-repeat="jobs in jobSiteList | filter: {name:filterJob} track by $index" class="jobSiteList">
        <p>
            <a href="" ng-click="gotoSelectedJobsite($index, jobs._id)">{{jobs.name}}</a>
        </p>
    </div>
</div>