<link rel="stylesheet" href="components/admin-the-employee/admin-the-employee.css">

<div class="the-employee-container-div">
    <div ng-hide="ctrl.finalFarewell">

    <h2>{{ctrl.employeeName}}</h2>
    <div ng-click="ctrl.showDetails()" ng-hide="ctrl.employee_details" id="emp-details"><a href="">Show Employee Details</a></div>
    <!-- <button ng-click="ctrl.hideDetails()" ng-show="ctrl.employee_details">Hide Employee Details</button> -->

        <div class="employee-details" ng-show="ctrl.employee_details">
            <form id="the-form" name="employeeForm" ng-submit="ctrl.updateEmployeeDetails(ctrl.theEmployee.firstName, ctrl.theEmployee.lastName, ctrl.theEmployee.userName, ctrl.theEmployee.password, ctrl.theEmployee.employeeType)">
                <div>
                    <label for="firstName">First Name: </label>
                    <input type="text" name="firstName" ng-model="ctrl.theEmployee.firstName" class="form-control">
                </div>
                <div>
                    <label for="lastName">Last Name: </label>
                    <input type="text" name="lastName" ng-model="ctrl.theEmployee.lastName" class="form-control">
                </div>
                <div>
                    <label for="username">Employee Username: </label>
                    <input type="text" name="username" ng-model="ctrl.theEmployee.userName" class="form-control">
                </div>
                <div>
                    <label for="password">Employee Password: </label>
                    <input type="text" name="password" ng-model="ctrl.theEmployee.password" class="form-control">
                </div>
                <div>
                    <label for="type">Employee Type: </label>
                    <select name="type" form="employeeForm" ng-model="ctrl.theEmployee.employeeType" value="worker" class="form-control">
                        <option value="worker">Worker</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success" id="update-employee-button" >Update Employee</button>
            </form>
            <div class="button-div">
                <button ng-click="ctrl.retireEmployee()" id="retire-details-button">Retire the Employee</button>
                <button ng-click="ctrl.hideDetails()" ng-show="ctrl.employee_details" id="close-details-button">&#x2718</button>
            </div>
        </div>

        <div>
            <input type="text" ng-model="dateFilter" placeholder="Search For Dates" class="input">
        </div>

        <div class="worked-class-class">
            <div class="worked-class"><p class="table-header">Date</p></div>
            <div class="worked-class"><p class="table-header">Hours This Week: {{ctrl.hrs_this_week}}</p></div>
            <div class="worked-class"><p class="table-header">Job Site</p></div>
        </div>

        <div ng-repeat="hours in ctrl.add_this_week_hrs | filter: {date_worked:dateFilter} track by $index" class="worked-class-class">
            <div class="worked-class date_worked">{{hours.date_worked}}</div>
            <div class="worked-class hours_worked">{{hours.hours_worked}}</div>
            <div class="worked-class job_site"><a href="" ng-click="ctrl.goToJobSite(hours.job_site, $index)">{{hours.job_site}}</a><!-- <span ng-show="hours.TandM"> T &amp M</span> --></div>
        </div>
        
        <div ng-repeat="week in ctrl.weeksArray | filter: {date_worked:dateFilter} track by $index">
            <hr>
            <div class="worked-class" id="week-div"><p class="table-header">Week</p></div>

            <div ng-repeat="day in week | filter: {date_worked:dateFilter} track by $index" class="worked-class-class">
                <div class="worked-class date_worked">{{day.date_worked}}</div>
                <div class="worked-class hours_worked">{{day.hours_worked}}
                    <div class="no-class" id="hours-div">{{day.hours}}</div>
                </div>
                <div class="worked-class job_site" ng-hide="ctrl.noJobSite[$parent.$index][$index]"><a href="" ng-click="ctrl.goToJobSite(day.job_site, $parent.$index, $index)">{{day.job_site}}</a><!-- <span ng-show="day.TandM"> T &amp M</span> --></div>
                <div ng-show="ctrl.noJobSite[$parent.$index][$index]" class="rw-warning worked-class">Oops! This job site has been completed and is now inactive.</div>

            </div>
        </div>
        <br />
        <br />
    </div>

    <div ng-show="ctrl.finalFarewell">
        <p>The {{ctrl.employeeName}} employee has just been retired.</p>
        <!-- <p>{{ctrl.employeeName}} has been retired to the Old Employees page.</p> -->
    </div>
</div>