@media print {
    a:after { content:''; }
    a[href]:after { content: none !important; }

}

.retire-button {
	
}

a:hover {
	text-decoration: none;
}

.input {
	width: 40%;
	margin: 15px 10px 15px 0;
}

.button-div {
	width: 40%;
}

.the-employee-container-div {
    margin: 20px;
}

.worked-class-class {
	display: flex;
}

.worked-class {
	width: 33%;
	margin-left: 1%;
	padding: 7.5px 0 7.5px 0;
	flex-grow: 0;
}

.hours_worked {
	padding-left: 10%;
}

.table-header {
	font-size: 1.5em;
  	font-weight: bold;
}

#week-div {
	margin-top: 20px 0 0 0;
	padding: 0;
	font-weight: strong;
}

#hours-div {
	font-weight: 600;
}

#retire-details-button {
  background-color: #a04f1c; 
  color: #ffffff;
  border: none;
}

#close-details-button {
	color: #ffffff;
	background-color: #9BC159;
	border: none;
	margin-left: 5px;
}

/*SMARTPHONE SIZE SCREENS*/
@media only screen and (min-width: 15em) and (max-width: 30em) {

	.table-header {
		font-size: 1em;
	}

	#hours_worked {
		padding-left: 10%;
	}

	.input {
	width: 100%;
	}

	.button-div {
		width: 100%;
	}

	#retire-details-button {
		height: 40px;
		padding: 7px 15px 7px 15px;
		margin: 5px 3px 5px 0;
	}

	#close-details-button {
		height: 40px;
		padding: 7px 15px 7px 15px;
		margin: 5px 3px 5px 3px;
	}
}

@media only screen and (min-width: 5em) and (max-width: 15em) {
	#retire-details-button {
		height: 60px;
	}

	#close-details-button {
		height: 60px;
	}
}

/*TABLET SIZE SCREENS*/
@media only screen and (min-width: 30em) and (max-width: 50em) {
	.button-div {
		width: 100%;
	}

	.input {
		width: 80%;
	}
}