<link rel="stylesheet" href="components/employee-job-site-time-card/employee-job-site-time-card.css">

<p class="date">{{ctrl.theDate}}</p>

<span id="jobSiteName">{{ctrl.jobsite.name}}</span> 
<p>Contractor:  {{ctrl.jobsite.contractor}}
<br />
<br />

            <!--With these text areas you need to make a hide/show that shows a success note saying that the note or materials has been saved to the database successfully that dissapears after 2 or 3 seconds-->


<div class="jobDetails">
    <button ng-click="ctrl.showJobDetails()" ng-hide="ctrl.jobDetails">Show Job Details</button>
    <button ng-click="ctrl.hideJobDetails()" ng-show="ctrl.jobDetails">Hide Job Details</button>

    <button ng-click="ctrl.timeAndMaterialOptions()" ng-hide="ctrl.timeCardCreated">Create a New Time Card</button>

    <div class="tAndmOptions" ng-show="ctrl.showtAndmOptions">
        <p>Is this a Time And Material Time Card?</p>
        <button ng-click="ctrl.tAndmYes()">Yes</button>
        <button ng-click="ctrl.tAndmNo()">No</button>
    </div>

    <div ng-show="ctrl.timeCardAlreadyExists" class="warning">
        <p>Oops! A regular time card already exists for this day. A new time card will not be created.</p>
    </div>


<div class="jobDetails" ng-show="ctrl.jobDetails">
        <div>
            <label>Total Jobsite Man Hours Worked: </label><span> {{ctrl.totalJobSiteHours}}
        </div>

        <div>
            <label>Job Name: </label><span> {{ctrl.jobsite. name}}</span>
        </div>
        
        <div>
            <label>Contractor: </label><span> {{ctrl.jobsite.contractor}}</span>
        </div>
        
        <div>
            <label>Superintendent Name: </label><span> {{ctrl.jobsite.superintendent_name}}</span>
        </div>
        
        <div>
            <label>Superintendent Telephone: </label><span> {{ctrl.jobsite.superintendent_telephone}}</span>
        </div>
        
        <div>
            <label>Job Address: </label><span> {{ctrl.jobsite.job_address}}</span>
        </div>
        
        <div>
            <label>Job Contract Details: </label><span> {{ctrl.jobsite.job_details}}</span>
        </div>
        
        <div>
            <label>Materials Needed: </label><span> {{ctrl.jobsite.materials_needed}}</span>
        </div>

        <div>
            <label>Notes: </label>
            <div ng-repeat="note in ctrl.jobsite.jobSiteNotes">
                <b id="notesDate">{{note.noteDate}}</b>
                <p>{{note.theNote}}</p>
            </div>
        </div>
</div>
<br />

<!--<button class="addPhotos">Add Photos</button>-->


<div class="materials" ng-show="ctrl.showMaterialsDiv">
    <!-- <button ng-click="ctrl.hideTextBox()" ng-show="ctrl.textAreaShow">Close</button> -->
     <!-- <button ng-click="ctrl.showTextArea()" ng-hide="ctrl.textAreaShow" >Materials Used</button> -->
     <!-- <br /> -->

    <!-- <div id="textArea" ng-show="ctrl.textAreaShow"> -->
    <div id="textArea">
    <p>Enter the materials used for this day</p>
        <textarea ng-model="ctrl.materials"></textarea>
        <button ng-click="ctrl.addMaterials(ctrl.materials)">Add</button>
    </div>
</div>



<div name="employeesDiv" ng-show="ctrl.timeCardCreated">

    <p ng-show="ctrl.needMaterials" class="warning">Oops! You must enter the materials used for today before submitting time for employees</p>

    
    <br />

    <div class="notesAndMaterials">
        <button ng-click="ctrl.hideNoteTextBox()" ng-show="ctrl.noteShow">Close</button>
        <button ng-click="ctrl.showNoteTextBox()" ng-hide="ctrl.noteShow">Make a Note</button>

        <div id="noteTextArea" ng-show="ctrl.noteShow">
            <textarea ng-model="ctrl.notes"></textarea>
            <button ng-click="ctrl.addNote(ctrl.notes)">Add</button>
        </div>
    </div>
    <br />


    <label for="employeeFilter">Filter Employee: </label>

    <input type="text" name="employeeFilter" ng-model="ctrl.employee_filter">

    <table st-table="students" class="table table-striped">
        <thead>
            <tr>
                <td>Employee</td>
                <td>Hours Worked</td>
            </tr>
        </thead>
        <br />
        <tbody>       
            <tr ng-repeat="employee in ctrl.employees | filter: {fullName:ctrl.employee_filter} track by $index">
            
                <td >
                    {{employee.fullName}}
                </td>
                <td>
                    <input type="number" ng-model="hoursWorked" min=".25" max="24" ng-hide="ctrl.needTime[$index]">
                    <p class="warning" ng-show="ctrl.needTime[$index]">Oops! You forgot to add time!</p>
                </td>
                <td>
                    <button ng-click="ctrl.addEmployeeTime(employee.fullName, hoursWorked, $index)">SUBMIT TIME</button>
                    <!-- Maybe the submit button will change color when the person has been submitted. But I think this should be linked to the success of the update, so... if (response.status === 200) { turn the button green};-->
                </td>
            </tr>
        </tbody>
    </table

</div>

<!--BELOW THIS IS THE EXPERIMENT WITH CSS TABLE STUFF
<style>
DIV.table 
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}
</style>
...
<div class="table">
    <form class="tr" method="post" action="blah.html">
        <span class="td"><input type="text"/></span>
        <span class="td"><input type="text"/></span>
        <span class="td"><input type="text"/></span>
        </form>
        <form class="tr" method="post" action="blah.html">
        <span class="td"><input type="text"/></span>
        <span class="td"><input type="text"/></span>
        <span class="td"><input type="text"/></span>
        </form>
        <form class="tr" method="post" action="blah.html">
        <span class="td"><input type="text"/></span>
        <span class="td"><input type="text"/></span>
        <span class="td"><input type="text"/></span>
        </form>
        <form class="tr" method="post" action="blah.html">
        <span class="td"><input type="text"/></span>
        <span class="td"><input type="text"/></span>
        <span class="td"><input type="text"/></span>
    </form>
    <div class="tr">
        <span class="td">(cell data)</span>
        <span class="td">(cell data)</span>
        <span class="td">(cell data)</span>
        </div>
        <div class="tr">
        <span class="td">(cell data)</span>
        <span class="td">(cell data)</span>
        <span class="td">(cell data)</span>
        </div>
        <div class="tr">
        <span class="td">(cell data)</span>
        <span class="td">(cell data)</span>
        <span class="td">(cell data)</span>
        </div>
        <div class="tr">
        <span class="td">(cell data)</span>
        <span class="td">(cell data)</span>
        <span class="td">(cell data)</span>
    </div>-->
