label {
    margin-bottom: 10px;
}
#jobSiteName {
    color: brown;
    font-size: 2.5em;
}
#textArea {
    margin-top: 10px;
}

.jobDetails {
    padding: 30px;
}

.date {
    float: right;
    font-size: 2em;
}
.employee-job-site-time-card-div {
    margin: 20px;
}