<link rel="stylesheet" href="components/admin-job-site/admin-job-site.css">

<p><span id="jobSiteNameBold">{{jobsite.name}}<span></p>
<p>{{jobsite.contractor}}</p>
<p>Total Job Site Man Hours: {{jobsite.man_hours}}</p>


<table st-table="students" class="table table-striped">
    <thead>
        <tr>
            <td>Date Worked</td>
            <td>Employee Name</td>
            <td>Hours Worked</td>    
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in jobsite.employees">
            <td>{{employee.date}}</td>
            <td>{{employee.employeeName}}</td>
            <!--<td>{{employee.hoursWorked}}</td>-->
            <td> <input type="text" class="edit" ng-model="employee.hoursWorked"></td>
            <td><button ng-click="editEmployee($index)" id="edit">Edit</button></td>
        </tr>
    </tbody>
</table>
