<link rel="stylesheet" href="components/admin-job-site/admin-job-site.css">

<p><span id="jobSiteNameBold">{{jobsite.name}}<span></p>


<button ng-click="showAddTime(); createLateTimeCard()">Create Late Time Card</button>
<button>This Job Site Is Completed</button>
<button ng-click="showUpdateForm()" ng-hide="showUpdateJobSite">Show Jobsite Details</button>
<button ng-click="hideUpdateForm()" ng-show="showUpdateJobSite">Hide Jobsite Details</button>
<input type="text" placeholder="Filter the Dates" ng-model="filter_date"> 


<form ng-show="showUpdateJobSite" ng-submit="updateTheJobSite(jobsite.contractor, jobsite.job_address, jobsite.job_details, jobsite.materials_needed, jobsite.name, jobsite.superintendent_name, jobsite.superintendent_telephone)">
    
    <p>You can edit and change the job site details</p>

    <div >
        <label for="contractor">Contractor: </label>
        <input type="text" class="updateJobSite" ng-model="jobsite.contractor" name="contractor">
    </div>

    <div>
        <label for="job_address">Job Address: </label>
        <input type="text" class="updateJobSite" ng-model="jobsite.job_address" name="job_address">
    </div>

    <div>
        <label for="job_details">Job Details: </label>
        <textarea class="updateJobSite" ng-model="jobsite.job_details" name="job_details"></textarea>
    </div>

    <div>
        <label for="materials_needed">Materials Needed: </label>
        <textarea class="updateJobSite" ng-model="jobsite.materials_needed" name="materials_needed"></textarea>
    </div>

    <div>
        <label for="name">Job Name: </label>
        <input type="text" class="updateJobSite" ng-model="jobsite.name" name="name">
    </div>

    <div>
        <label for="superintendent_name">Superintendent Name: </label>
        <input type="text" class="updateJobSite" ng-model="jobsite.superintendent_name" name="superintendent_name">
    </div>

    <div>
        <label for="superintendent_telephone">Superintendant Telephone: </label>
        <input type="number" class="updateJobSite" ng-model="jobsite.superintendent_telephone" name="superintendent_telephone">
    </div>

    <input type="submit" class="updateJobSite" value="Update Jobsite">
</form>

                <!-- Late Time Card -->

<form class="late-time-card" ng-submit="someSubmitFunction(late_notes, late_materials)" ng-show="showLateTC">

    <label for="notes">Notes: </label>
    <textarea type="text" name="notes" ng-model="late_notes"></textarea>

    <label for="materials">Materials: </label>
    <textarea type="text" name="materials" ng-model="late_materials"></textarea>

    <input type="submit" value="Submit">
    <button ng-click="hideAddTime()">X</button>

</form>


    <!--  You need to set up a spot to show whether the job time is T&M, maybe use hide/show if it is.-->
       
    <br />
    <br />
    <div ng-repeat="timecard in dailyTCs | filter: {theDate:filter_date} track by $index">  <!-- This filter is not complete, it needs to filter only the daily_time_cards array and not the employees_worked array too.-->
        <hr> 
            <div>
                
                <a id="timeCard" ng-hide="showDTCs[$index]" href="" ng-click="showDailyTCs($index)" >{{timecard.theDate}}</a>
                <a href="" ng-show="showDTCs[$index]" ng-click="hideDailyTCs($index)" >{{timecard.theDate}}</a>

                <div class="hidden-daily-time-card" ng-show="showDTCs[$index]"> 
                    
                    <p>Materials Used: {{timecard.materials_used}}</p>
                    <p>Notes: {{timecard.notes}}</p>
                    
                    <table st-table="students" class="table table-striped">
                        <thead>
                            <tr>
                                <td>Employee Name</td>
                                <td>Hours Worked</td>
                                <td>Edit</td>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td><input type="text" ng-model="late_employee"></td>
                                <td><input type="number" min=".25" max="24" ng-model="late_hours"></td>
                                <td><button ng-click="something(late_employee, late_hours)">Submit</button></td>
                            </tr>

                            <tr ng-repeat="employees in dailyTCs[$index].employees_worked track by $index" > <!--make sure to ng-repeat this -->
                                <td>{{employees.employeeName}}</td>
                                <td><input type="number" min=".25" max="24" ng-model="employees.hours_worked"></td>
                                <td><button ng-click="editEmployee(employees.hours_worked, employees._id)">Edit</button></td>
                            </tr>
                        </tbody>
                    </table>
                
                </div>

            </div>

        <hr>
    </div>
    



