<link rel="stylesheet" href="components/admin-job-site/admin-job-site.css">
<h3>Admin Job Site Page</h3>
<!--{{test}}-->
<p>This is the jobsite: <span id="jobSiteNameBold">{{jobsite.name}}<span></p>
<p>This is the hours worked: {{jobsite.man_hours}}</p>
<ul ng-repeat="employee in jobsite.employees">
    <li>{{employee.date}}</li>
    <li>{{employee.employeeName}}</li>
    <li>{{employee.hoursWorked}}</li>
</ul>

<!--I need to make filters based on date, name, etc and put it all into a table just like always-->