<link rel="stylesheet" href="directives/directiveTemplates/admin_job_site_time_card.css">
                <!--BELOW IS A SAMPLING OF WHAT I MIGHT WANT FOR THE JOB-SITE TIME CARDS-->

<!--I think I just need to make this a Form, this way I use a single function to submit it all rather than using seperate functions for each of them.-->



<table>
    <thead>
        <tr>
            <td>Employee Name</td>
            <td>Hours Worked</td>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="employees in employees_worked track by $index">
            <td>{{employees.employeeName}}</td>
            <td>
                <input type="number" min=".25" max="24" ng-model="employees.hours_worked" ng-click="updateEmployeeHours(employees.hours_worked)">
            </td>
        </tr>
    </tbody>
</table>


<div>
    <p>Materials Used: {{materials_used}}</p>
</div>

<div>
    <p>Notes: {{notes}}</p>
</div>
