<link rel="stylesheet" href="components/admin-employees-list/admin-employees-list.css">


<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>

          <!-- put your stuff in here-->

          


        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
    <button type="button" class="btn btn-success" ng-click="$ctrl.open()">Create New Employee</button>
    <div class="modal-parent">
    </div>
</div>




<div class="admin-employee-container">
	<h1>Employee List</h1>
	<input type="text" placeholder="Filter Employee Names" ng-model="employee_filter"/>
	<!--<button class="btn btn-success" data-toggle="modal" data-target="#myModal">Create New Employee</button>-->
      <!--<button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>-->

</div>

<table st-table="students" class="table table-striped">
  <thead>
    <tr>
      <td>Employee Name</td>
      <td>Hours This Week</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in employees | filter: {fullName:employee_filter} track by $index">
      <td><a href="" ng-click="goToTheEmployee($index)">{{employee.fullName}}</a></td>
      <td><!--you need to make it so weekly hours for this employee shows up --></td>
    </tr>
  </tbody>
</table>
               

                <!--//////////// THE MODAL ////////////-->

                <!-- /////to be honest, I think I may want to get rid of the modal and have something fade in or toggle up and then out again with the click of the "close" button.\\\\\\ -->


<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        This is the modal that we don't want

        <form name="employeeForm" ng-submit="createEmployee(fullName, userName, password, employeeType, employeeForm.$valid)" novalidate>
            <div class="modal-body">

              <div ng-class="{ 'has-error' : employeeForm.fullName.$invalid && submitted }">
                <label for="fullName">Employee Full Name</label>
                <p class="warning" ng-show="employeeForm.fullName.$invalid && submitted">You Must Enter An Employee's Full Name!</p>
                <input type="text" name="fullName" class="form-control" ng-model="fullName"/ required autofocus>
              </div>

              <div ng-class="{ 'has-error' : employeeForm.userName.$invalid && submitted }">
                <label for="userName">Employee Username</label>
                <p class="warning" ng-show="employeeForm.userName.$invalid && submitted ">You Must Enter An Employee's Username!</p>
                <input type="text" name="userName" class="form-control" ng-model="userName" required>
              </div>

              <div ng-class="{ 'has-error' : employeeForm.password.$invalid && submitted }">
                <label for="password">Employee Password</label>
                <p class="warning" ng-show="employeeForm.password.$invalid && submitted">You Must Enter An Employee's Password!</p>
                <input type="text" name="password" class="form-control" ng-model="password" required>
              </div>

              <div ng-class="{ 'has-error' : employeeForm.type.$invalid && submitted }">
                <label for="type">Employee Type</label>
                <p class="warning" ng-show="employeeForm.type.$invalid && submitted">You Must Enter the Type of Employee... Worker or Admin!</p>
                
                <select name="type" form="employeeForm" ng-model="employeeType" required>
                  <option value="Worker">Worker</option>
                  <option value="Admin">Admin</option>
                </select>
              
              </div>
              
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-success" value="Save Changes" />
            </div>

          </div>
        </form>
        <!--<pre>Hello, this is within the pre tag. This is only here as a test to see what pre looks like.</pre>
        <input type="text" placeholder="put something in here" focus>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>                    
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>-->
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
    <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
    <div class="modal-parent">
    </div>
</div>




<!-- Modal code below is original bootstrap modal with jQuery-->





<div class="modal" id="myModal">
      
      <div class="modal-dialog">
        
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">x</button>
            <h3 class="modal-title">Create New Employee</h3> <span id="fldsRqd">*All Fields Required*</span>
          </div>
        
              
          <form name="employeeForm" ng-submit="createEmployee(fullName, userName, password, employeeType, employeeForm.$valid)" novalidate>
            <div class="modal-body">

              <div ng-class="{ 'has-error' : employeeForm.fullName.$invalid && submitted }">
                <label for="fullName">Employee Full Name</label>
                <p class="warning" ng-show="employeeForm.fullName.$invalid && submitted">You Must Enter An Employee's Full Name!</p>
                <input type="text" name="fullName" class="form-control" ng-model="fullName"/ required autofocus>
              </div>

              <div ng-class="{ 'has-error' : employeeForm.userName.$invalid && submitted }">
                <label for="userName">Employee Username</label>
                <p class="warning" ng-show="employeeForm.userName.$invalid && submitted ">You Must Enter An Employee's Username!</p>
                <input type="text" name="userName" class="form-control" ng-model="userName" required>
              </div>

              <div ng-class="{ 'has-error' : employeeForm.password.$invalid && submitted }">
                <label for="password">Employee Password</label>
                <p class="warning" ng-show="employeeForm.password.$invalid && submitted">You Must Enter An Employee's Password!</p>
                <input type="text" name="password" class="form-control" ng-model="password" required>
              </div>

              <div ng-class="{ 'has-error' : employeeForm.type.$invalid && submitted }">
                <label for="type">Employee Type</label>
                <p class="warning" ng-show="employeeForm.type.$invalid && submitted">You Must Enter the Type of Employee... Worker or Admin!</p>
                
                <select name="type" form="employeeForm" ng-model="employeeType" required>
                  <option value="Worker">Worker</option>
                  <option value="Admin">Admin</option>
                </select>
              
              </div>
              
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-success" value="Save Changes" />
            </div>

          </div>
        </form>
        <!--make it so when the employee is clicked on that it takes the user to a new page where it is that emloyee and is put into tables, the tables being divided by dates and the data being the jobs worked on and hours for each job. -->
      </div>
      
    </div>
</div>