li {
	list-style-type: none;
}

input.form-control {
	margin-bottom: 15px;
}

p.warning {
	color: red;
}

#employeeName {
	font-size: 1.25em;
	font-weight: bold;
}

#fldsRqd {
	color: red;
}

.admin-employee-container {
    margin: 20px;
}

#bootstrap-overrides label {
	margin-bottom: 0px;
}