html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: sans-serif; }

body {
  margin-top: -20px; }

header {
  position: relative;
  height: 100%; }

h1 {
  text-align: left;
  color: #193E4E;
  padding: 10px; }

nav {
    display: block;
    height: 35px;
    width: 100%;
    background-color: #193E4E;
    color: white;
}
nav ul li {
  height: 35px;
  display: inline-block;
  padding: 9px; }

nav ul li:hover {
  background-color: #8EB843;
}

nav a:hover, nav a:active, nav a:visited, nav a:focus {
    color: white;
    text-decoration: none;
}

table {
    margin-top: 10px;
}
thead tr td {
  font-size: 1.5em;
  font-weight: bold; }
.logo {
    margin-top: 20px;
    margin-left: 20px;
}
.margin-10 {
    margin: 10px;
}

.md-img {
    height: 400px;
    max-width: 100%;
}

.nav-bar ul {
  width: 90%; }

.template-container {
    margin: 30px;
}

.rw-warning {
  color: #0073e6; }

button {
  height: 35px;
  border-radius: 5px;
}

input {
  height: 35px;
  border-radius: 5px;
}

/*SMARTPHONE SIZE SCREENS*/
@media only screen and (min-width: 15em) and (max-width: 30em) {
  h1 {
    padding-top: 10px; }

  li#nav-left {
    margin-left: -15px; } }