<h1>{{ctrl.theOldEmployee.fullName}}</h1>

<div>
    <p>The Employee's User Name: <span>{{ctrl.theOldEmployee.userName}}{{ctrl.theOldEmployee.email}}</span></p> 
 <!--make sure you take off the in-line styling-->
    <p>The Employee's Current Password: <span>{{ctrl.theOldEmployee.password}}</span></p>
    <p>The Employee's Type: <span>{{ctrl.theOldEmployee.employeeType}}</span></p>
</div>

<div>
	<button ng-click="ctrl.resurrectOldEmployee()">Resurrect Old Employee</button>

<div>
    <input type="text" ng-model="dateFilter" placeholder="Search For Dates">
</div>

<!-- div>
    <button ng-click="ctrl.retireEmployee()">Retire the Employee</button>
</div> -->

<div>

    <table st-table="students" class="table table-striped">
        
        <thead>
            <tr>
                <td>Date</td>
                <td>Hours</td>
                <td>Job Site</td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="hours in ctrl.hours_worked | filter: {date_worked:dateFilter} track by $index">
                <td>{{hours.date_worked}}</td>
                <td>{{hours.hours_worked}}</td>
                <td>{{hours.job_site}}</td>
                <!-- <td ng-hide="ctrl.noJobSite[$index]"><a href="" ng-click="ctrl.goToJobSite(hours.job_site, $index)">{{hours.job_site}}</a></td> -->
                <!-- <td ng-show="ctrl.noJobSite[$index]" class="rw-warning">Oops! This job site has been completed and is now inactive.</td> -->
            </tr>
        </tbody>

    </table>

</div>