<div class="admin-employee-container">
	<h1>Employee List</h1>
	<input type="text" placeholder="Filter Employee Names" />
	<button class="rw-button" data-toggle="modal" data-target="#myModal">Add New Employee</button>
</div>

<ul>
  <li ng-repeat="employee in employeeArray">{{employee.firstName}} {{employee.lastName}}</li>
               

                <!--//////////// THE MODAL ////////////-->

<div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">x</button>
            <h4 class="modal-title">Create New Employee</h4>
          </div>
          
          <form>
            <div class="modal-body">
              <input type="text" class="form-control" placeholder="Enter Employee First Name" ng-model="firstName" />
              <input type="text" class="form-control" placeholder="Enter Employee Last Name" ng-model="lastName" />
            </div>

            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-success" value="Save Changes" ng-click="createEmployeeName(firstName, lastName)" />
            </div>
          </form>
        </div>
      </div>
</div>