<h1>Job Site List</h1>

<form ng-submit="addNewJobsSite(newJobName, contractorName)">

	<input type="text" placeholder="enter new job name" ng-model="newJobName" >

	<br />

	<input type="text" placeholder="Enter General Contractor" ng-model="contractorName" >

	<input type="submit" value="Submit">

</form>

<br />
<input type="text" placeholder="filter jobs" ng-model="jobs">

<ul ng-repeat="job_site in job_sites | filter: {name:jobs} track by $index">
	<li>
		<a href="" ng-click="gotoSelectedJobsite($index, job_site._id)">{{job_site.name}}</a>
	</li>
</ul>

<br />



<!-- {{test}} -->