<link rel="stylesheet" href="components/admin-job-site-list/admin-job-site-list.css">

<h1>Job Site List</h1>
<!--make sure you add angular for validation-->
<button id="addNewJobSite" ng-click="showJobSiteForm()" ng-hide="showJobSite">Add New Job Site</button>
<button ng-click="hideJobSiteForm()" ng-show="showJobSite">Close Form</button>


<div ng-show="showJobSite" class="form-div">

<form ng-submit="addNewJobsSite(newJobName, contractorName, jobAddress, superName, superTelephone, jobDetails, materialsNeeded)">

		<div class="jobNameDiv">
			<label for="jobName">Job Name:</label>
			<input type="text" ng-model="newJobName" name="jobName" class="newJobForm">
		</div>
		
		<div class="contractorNameDiv">
			<label for="contractorName">Contractor Name:</label>
			<input type="text"  ng-model="contractorName" name="contractorName" class="newJobForm">
		</div>

		<div class="jobAddress">
			<label for="jobAddress">Job Address:</label>
			<input type="text" ng-model="jobAddress" name="jobAddress"  class="newJobForm">
		</div>

		<div class="superName">
			<label for="superName">Superintendent Name:</label>
			<input type="text" ng-model="superName" name="superName" class="newJobForm">
		</div>

		<div class="superTelephone">
			<label for="superTelephone">Superintendent Telephone:</label>
			<input type="number" ng-model="superTelephone" name="superTelephone" class="newJobForm">
		</div>
			
		<div class="jobDetails">
			<label for="jobDetails">Job Contract Details:</label>
			<textarea name="jobDetails" ng-model="jobDetails" class="newJobForm" placeholder="such as how many feet of expansion joints:"></textarea>
		</div>

		<div class="materialsNeeded">
			<label for="materialsNeeded">Materials Needed:</label>
			<textarea name="materialsNeeded" ng-model="materialsNeeded" class="newJobForm" placeholder="such as whether to use ladders, silicone or urethane:"></textarea>
		</div>
		
		<input type="submit" value="Submit">
	
	</form>

</div>
<br />
<br />
<input type="text" placeholder="filter jobs" ng-model="jobs">

<ul ng-repeat="job_site in job_sites | filter: {name:jobs} track by $index">
	<li>
		<a href="" ng-click="gotoSelectedJobsite($index, job_site._id)">{{job_site.name}}</a>
	</li>
</ul>

<br />
<button ui-sref="admin-old-job-sites" href="#/admin-old-job-sites">Old/Completed Job Sites</button>

<!--maybe you can make it so that any job sites worked on today will be highlighted, or at least have them in their own separate div at the top.-->

